# project dependencies
sanic==24.12.0
sanic-ext==23.12.0
pydantic==2.10.6
click==8.1.8

# excel dependencies
pandas==2.2.3
openpyxl==3.1.5
xlrd==2.0.1
javaproperties==0.8.2

# dev dependencies
ruff==0.9.6
pre-commit==4.1.0
invoke==2.2.0
mypy==1.15.0
flit==3.10.1
wheel==0.45.1

# test dependencies
robotframework==7.2.2
robotframework-robocop==5.8.1
robotframework-tidy==4.16.0
requests==2.32.3